<!DOCTYPE html>
<html>
<head>
  <title>Car App</title>
  <style>
    body { font-family: Arial, sans-serif; margin: 20px; }
    form { margin-bottom: 20px; }
    input, button { margin: 5px; padding: 5px; }
    ul { list-style: none; padding: 0; }
    li { margin: 10px 0; }
    img { max-width: 100px; }
  </style>
</head>
<body>
  <h1>Edit</h1>
  <p>"carapp/cars/<%=car._id %>/edit"</p>
  <form action="carapp/cars/<%=car._id %>/editcar" method="PUT">
    <input type="text" name="name" placeholder="Car Name" value= "<%= car.name %> "required>
    <input type="text" name="description" placeholder="Description" value= "<%= car.description%>"required>
    <input type="text" name="image" placeholder="Image URL (optional)" value="<%car.image%>">
    <button type="submit">Add Car</button>
  </form>
 
</body>
</html>